**/bin/
**/.settings/
**/.classpath
**/.project
**/.idea
**/target
**/build/
.gradle/
.gradle-tmp/

*.iml

**pom.xml.versionsBackup
dependency-reduced-pom.xml
publish.bat
.ci-friendly-pom.xml
settings.xml